* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lexend Giga", sans-serif ;
    font-size: 62,5%;
}

header {
    display: flex;
    background-color: #111111;
    color: white;
    align-items: center;
    height: 80px;
    font-size: 0.8rem;
    
}

    /* LOGOS */
.logos {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    margin-left:30px;
}

.riot-games {
    width: 80px;
}

.lol-icon {
    width: 25px;
}

    /* NAV */

.nav-list {
    list-style: none;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-news ul {
    display: inline;
    display: none;
}

.nav-discover ul {
    display: inline;
    display: none;  
}

nav a {
    text-decoration: none;
    color: white;
}
    
nav {
    display: flex;
    width: 100%;
}

.span-arrow {
    margin-left: -20px ;
}
.span-arrow img {
    height:1rem ;
}

.nav-plus {
    display: flex;
    list-style: none;;
    width: 25%;
    justify-content:space-evenly;
    align-items: center;
    padding-left: 9rem;
    padding-right: 2rem;
}

.icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color:#2c2b2b;
    width: 2.6rem;
    height: 2.6rem;
}

.button-login {
    display: flex;
    width: 8.8rem;
    height: 2rem;
    background-color: #0bc4e2;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.button-login a {
    color: #111111;
}

.lengueages_list img {
    width: 1.2rem;
}

.lengueages_list ul {
    display: inline;
    display: none;  
}



/* MAIN */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 90vh;
}

.welcome video{
    margin-top: 80px;
    width: 100%;
    position: absolute;
}
.welcome .welcome_message {
    display: flex;
    flex-direction: column;
    position: relative;
}

.welcome_message img{
    width: 400px;
}

.main_button {
    margin: 0 auto;
    margin-top: 30px;
    background-color: #00000000;
    width: 180px;
    height: 70px;
    padding: 2px;
    border: white 1px solid;
}
.main_button a {
    padding-top: 20px;
    font-size: 1.1rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #c6a96c;
}

/* SECCIÓN SEASON */

.season {
    height: 110vh;
    background-image: url(./assets/imgs/season_brackground.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

.season_message {
    height: 400px;
    width: 650px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.season_message h3{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 20px;
}

.season_message h2 {
    font-size: 2.6rem;
        font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 20px;
}

.season_message button{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-top: 40px;
    border: none;
}

 /* SECCIÓN NOTICIAS DESTACADAS*/

 .background-image {
    padding: 8rem 48px;
 }


.background-image h2 {
    color: #111111;
    margin-left: 11rem;
    font-family: "Lusitana", serif;
    font-style: italic;
    font-size: 32px;
}

.articles {
    margin: 2rem 0px;
}
.articles img {
    width: 447px;
    height: 245px;
}
.articles ul {
    width: 420px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.articles li {
    margin-left: 4rem;
    list-style: none;
}

.articles a {
    text-decoration: none;
    color: #111111;
}


/* SECCIÓN ESTILO */

.estilo_1 {
    height: 100vh;
    background-image: url(./assets/imgs/estilo_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.estilo_1 img {
    width: 700px;
    height: 700px;
}

.estilo_texto {
    width: 700px;
}
.estilo_texto h3{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 20px;
}

.estilo_texto h2 {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 20px;
}

.estilo_texto button {
    border: none;
}

.estilo_2 {
    height: 120vh;
    background-image: url(./assets/imgs/estilo_background_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}


.estilo_2 video {
    border-radius: 50%;
    outline: 1px solid #c6a96c;
}